@import url("https://fonts.googleapis.com/css2?family=Lunasima&display=swap");

body {
  background-color: aquamarine;
  margin: 0;
  font-family: "Lunasima", sans-serif;
}

a {
  text-decoration: none;
}

a:active {
  color: green;
}

a:visited {
  color: white;
}

a:hover {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: green;
}

.redes-sociales {
  display: flex;
  width: 15%;
  min-width: 150px;
  align-items: center;
  justify-content: space-between;
}

.redes-sociales-lista {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  background-color: black;
}

.menu {
  margin-top: 1em;
  width: 100%;
  background-color: black;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los elementos, ajusta según tu preferencia */
}

.menu a {
  text-decoration: none;
  color: white; /* Cambia el color de texto según tus preferencias */
}

.menu a:hover {
  background-color: white;
  color: green;
}

.titulo {
  text-align: center;
  display: inline;
  color: white;
  font-size: 3rem;
}

.bandera {
  min-width: 150px;
  width: 15%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spaguetti {
  width: 80%;
  text-align: center;
  color: red;
  font-size: 2rem;
  text-decoration: underline;
}

.seccion-descripcion {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.descripcion {
  font-size: 1.2rem;
}

.spaghetti-foto {
  min-width: 150px;
  max-width: 600px;
  width: 60%;
}

.receta {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: darkgoldenrod;
  font-size: 2rem;
  text-decoration: underline;
}

.seccion-ingredientes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.ingredientes {
  text-align: center;
  color: brown;
  font-size: 1.5rem;
  text-decoration: underline;
}

.contenedor-lista {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

li {
  font-size: 1.2rem;
}

.seccion-preparacion {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.preparacion {
  width: 100%;
  text-align: center;
  color: fuchsia;
  font-size: 1.5rem;
  text-decoration: underline;
}

ol {
  width: 100%;
}

.seccion-musica {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.control-musica {
  width: 100%;
  text-align: center;
  color: mediumvioletred;
  font-size: 1.5rem;
  text-decoration: underline;
}

.seccion-video {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.video-titulo {
  width: 100%;
  color: magenta;
  font-size: 1.5rem;
  text-decoration: underline;
}

.seccion-otras-recetas {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.seccion-mapa {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
}

.titulo-mapa {
  width: 100%;
  text-align: center;
  color: tomato;
  font-size: 2rem;
  text-decoration: underline;
}

.mapa {
  width: 100%;
}

.whatsapp-section {
  position: fixed;
  width: 35px;
  bottom: 30px;
  right: 5px;
}

.whatsapp-logo {
  width: 100%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.footer-mapa {
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  max-height: 200px;
}

.autor {
  color: white;
}

.contacto {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
}

.contacto-titulo {
  text-align: center;
  width: 100%;
}

form {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  .form-nombre,
  .form-apellido,
  .form-asunto,
  .form-email,
  .form-mensaje,
  .form-enviar {
    display: flex;
    width: 100%; 
    margin-bottom: 1em;
    justify-content: space-evenly;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%; 
    padding: 0.5em; 
  }
  
  input[type="submit"],
  input[type="reset"] {
    width: 48%; 
  }
